<div class="container">
  <h1>Twitter Gitter!</h1>
  <form action="/find" method="post">
    <input type="text" name="username" placeholder="type twitter handle here" id="handle">
    <input type="submit" value="Git Some">
  </form>

  <% if @user %>
    <%= erb :_all_tweets %>
  <% end %>
  
</div>
